@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');






html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
background-size: cover;

	


	font-family: 'Poppins', sans-serif;
  
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000; 
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0; 
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

/*-------------------------------Main code   INDEX ---------------------------------------------------------*/

.wrapper
{
	height: 660px;
	width: 1500px;
	
	/*background-color: red;*/
}
header
{
	height: 130px;
	width: 1500px;
	background: linear-gradient(115deg, #047b85 10%, #420faf 90%);
	padding: 10px;
}
section
{
	height: 532px;

	width: 1500px;
	background-color: grey;
}
footer
{
	height: 72px;
	width: 1517px;
	background: linear-gradient(115deg, #047b85 10%, #420faf 90%);
}
.logo
{
	float :left;
	padding-left: 20px;
	font-style:italic;

}
.logo img 
{
	padding-left: 80px;
}

li a
{
	color: white;
	text-decoration: none;
}
nav
{
	float: right;
	word-spacing: 30px;
	padding: 20px;
}
nav li 
{
	display: inline-block;
	line-height: 80px;
}

section .sec_img
{
	height: 510px;
	width:1517px;
	margin-top: 0px;
	background-image: url("glacampus.jpg");
	
}


 .box
{
	height: 300px;
	width: 450px;
	/* background-color: #bbb3b8; */
	margin: 70px auto;
	opacity: .9;
	color: black;
} 

/*--------------------------------st_login-----------------------------*/

body{
  height:100vh;
  width:100%;
  background:linear-gradient(115deg, #047b85 10%, #420faf 90%);
}

.show-btn{
  background: #ffffffa2;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #3498db;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.show-btn, .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="checkbox"]{
  display: none;
}
.container{
  display: none;
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
#show:checked ~ .container{
  display: block;
}
.container .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.container .close-btn:hover{
  color: #3498db;
}
.container .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.container form{
  margin-top: -20px;
}
.container form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
form .data label{
  font-size: 18px;
}
form .data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}
form .data input:focus{
  border-color: #3498db;
  border-bottom-width: 2px;
}
form .forgot-pass{
  margin-top: -8px;
}
form .forgot-pass a{
  color: #3498db;
  text-decoration: none;
}
form .forgot-pass a:hover{
  text-decoration: underline;
}
form .btn{
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
form .btn .inner{
  height: 100%;
  width: 200%;
  position: absolute;
  left: -100%;
  z-index: -1;
  
  transition: all 0.4s;
}
form .btn:hover .inner{
  left: 0;
  background-color: rgb(57, 13, 2);
}
form .btn button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}


/*------------------------------registration--------------------*/
.reg_img
{
	height: 630px;
	margin-top: 0px;
	background-image: url("images/4.png");
}
.box2
{
	height: 589px;
	width: 400px;
	background-color: black;
	margin: 0px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}

a{
	font-weight:bold;
	font-size:medium;
}

.btn{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	background-color: crimson;
	padding:6px;
	border: none;
	cursor:pointer;
	font-size: 13px;
	border-radius: 4px;
}

.btn:hover{
	color:darkgoldenrod;
	background-color:rgb(223, 245, 201);
	border: 2px solid black;
}